{% extends 'blog/base.html' %}

{% block content %}
    
    <h1 class="display-5">{{ post.title }}</h1>
	
    {% if post.published_date %}
        <p class="lead">Publicado: {{ post.published_date }}</p>
    {% endif %}
	<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span id="edit-post" class="fa fa-pencil"></span> | Editar Post</a>
    <p>{{ post.text|linebreaksbr }}</p>
    <hr>

{% endblock %}