{% extends 'blog/base.html' %}

{% block content%}

<div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Añadir un post nuevo</h2>
          <hr>
      	</div>
      </div>
      <div class="row">
        <div class="col-md-12 p-3">
          <form method="POST">{% csrf_token %}
			
			<div class="form-group mb-1">	
				<label>Título del post</label>
          		<div>{{ form.title }}</div>
          	</div>

          	<div class="form-group mb-1">	
				<label>Contenido del post</label>
          		<div>{{ form.text }}</div>
          	</div>

            <button id="addAlbum" type="submit" class="btn btn-primary my-2">Enviar</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <script>
	var titulo = document.getElementById("id_title");
	var texto = document.getElementById("id_text");
	var addAlbum = document. getElementById("addAlbum");
	titulo.className += "form-control";
	texto.className += "form-control";
	titulo.style.fontFamily = "arial";
	texto.style.fontFamily = "arial";
	addAlbum.style.fontFamily = "arial";
  </script>
{% endblock %}