{% extends 'blog/base.html' %}

{% block content %}
<h2>Nuestros Posts</h2>
<hr>
  {% for post in posts %}
    <h1 class="display-5"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <p class="lead">Publicado: {{ post.published_date }}</p>
    <p>{{ post.text|linebreaksbr }}</p>
    <hr>
  {% endfor %}
{% endblock %}